<div *ngIf="animal" class="form-container">
    <h1>Edit Form</h1>
    <h2>Animal ID: {{ animal.animal_id }}</h2>
    <form>
        <div class="form-group">
            <label for="animal_type">Animal Type</label>
            <input type="text" id="animal_type" [(ngModel)]="animal.animal_type" name="animal_type">
        </div>
        <div class="form-group">
            <label for="breed">Breed</label>
            <input type="text" id="breed" [(ngModel)]="animal.breed" name="breed">
        </div>
        <div class="form-group">
            <label for="sex_upon_outcome">Sex</label>
            <input type="text" id="sex_upon_outcome" [(ngModel)]="animal.sex_upon_outcome" name="sex_upon_outcome">
        </div>
        <div class="form-group">
            <label for="age_upon_outcome_in_weeks">Age In Weeks</label>
            <input type="text" id="age_upon_outcome_in_weeks" [(ngModel)]="animal.age_upon_outcome_in_weeks" name="age_upon_outcome_in_weeks">
        </div>
        <div class="form-action">
            <button type="button" (click)="save()">Save</button>
        </div>
    </form>
</div>
